$ph-bg:                   #FFF !default;
$ph-color:                #888E96 !default;
$ph-border-radius:        2px !default;

$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: 1.9s !default;
